.myheadsection{
    position: sticky;
    top: 0px;
    z-index: 2;
}
.mynav{
    background-color: rgb(187, 181, 189);
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    padding-left: 115px;
}
.mynavimg{
    height: 50px;
    width: 80px;
    margin-right: 55px;
}
.mynavDrop{
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
    border-radius: 10px;
}
/* .mynavfor{
    width: 50%;
    margin-right: 35px;
}
.mynavforinp{
    height: 30px;
    width: 85%;
    font-size: 15px;
    border-style: none;
    outline-style: none;
}
.mysearchbut{
    border-style: none;
    background-color: white;
    height: 30px;
} */
.logbut{
    border-radius: 15px;
    border-style: none;
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    margin-right: 60px;
    margin-left: 35px;

}
.carbut{
    background-color: rgb(187, 181, 189);
    margin-left: 120px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 5px;
    height: 30px;
}


