.anime{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 350px;
    margin: auto;
    width: 99%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    animation-name: slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes slide{
    0% {background-image: url("../../../public/SlideShowImg/mobile.jpg");}
    50% {background-image: url("../../../public/SlideShowImg/mobile2.jpg");}
    100% {background-image: url("../../../public/SlideShowImg/mobile1.jpg");}
}
.hmbox{
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-left: 50px;
}
.hmboximg{
    margin: 20px 28px;
    box-shadow: 5px 5px 15px 5px #000000;
}