.contactbackground{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.50);
}
.contactbackground1{
    background-color: rgb(167, 85, 243);
    float: left;
    width: 50%;
    height: 399.5px;
    padding-top: 20px;
    padding-left: 40px;
    color: black;
}
.contactbackground2{
    float: right;
    width: 50%;
    height:400px;
    padding-top: 40px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}